@CHARSET "UTF-8";

@import url(font_setting.css);

*:FOCUS{outline: none;}
body{color:#4d4d4d;font-size:16px;font-family:"나눔바른고딕";margin:0;padding:0; background:url("../images/bg_pencil.png") no-repeat fixed center; background-size:cover;}
a{text-decoration: none; color:#6e4a37;}
ul{padding:0; margin:0;}
li{list-style: none; padding:0; margin:0;}
textarea{resize: none;}

.wrapper{width:100%;}
.width1400{width:1400px;margin:0 auto;}

button{cursor: pointer; outline:0;}
button:disabled{cursor:default;}
.same-button-style{border: none;border-radius: 5px;background: #e7c59a;padding: 5px 13px;font-size: 15px;color: #6e4a37;font-weight: bold;}
.small-btn-style{border-radius: 5px;padding: 5px;background: none;color: #6e4a37;border: 1px solid #6e4a37;margin-left: 5px;margin-right: 5px;}
.small-btn-style:HOVER{border-color: rgba(0,0,0,0); font-weight: bold;}
/*---------
	헤더
---------*/
.header{width:100%;margin-top:30px;}

/*---------- 
	탑 메뉴
----------*/
.top-menu-box{width:100%;padding:20px 0 20px;text-align: center;}

/*------------------
	탑 메뉴 클릭 이벤트
------------------*/
.top-menu-box ul {display: block;margin:0 auto;padding: 0;}
.top-menu-box ul li {position: relative;display: inline-block; width: 200px;height: 40px;line-height: 40px;text-align: center;
  						cursor: pointer;margin:0 10px;padding: 0;perspective: 1000px;}
.top-menu-box ul li img{position: absolute; z-index: 1; right:0px;top:-8px; width:40px; display: none;}
.top-menu-box ul li a.click-event {position: relative;display: inline-block;width: 200px;background: #e7c59a; color:#6e4a37; font-size:20px; border-radius:10px;
						transition: transform 0.3s;transform-origin: 50% 0;transform-style: preserve-3d; font-family: "나눔스퀘어B";}
.top-menu-box ul li a.click-event::before {position: absolute;top: 100%;left: 0;width: 100%;height: 100%; content: attr(data-hover); border-radius:10px;
								transition: background 0.3s;transform: rotateX(-90deg);transform-origin: 50% 0;}
.top-menu-box ul li:hover a.click-event,
.top-menu-box ul li:focus a.click-event {transform: rotateX(90deg) translateY(-22px);}
.top-menu-box ul li:hover a.click-event::before,
.top-menu-box ul li:focus a.click-event::before {background: #1abe9e; color:#fff; font-family: "나눔스퀘어EB";}

#admin-menu-btn{background:rgba(168,52,77,1);color:#fff;}
.admin-sub-menu{
	position:absolute;
	display:none;
	width:200px;
	margin-top:10px;
	margin-left:20px;
	background:#354da8;
	border-radius:4px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}
.admin-sub-menu a{color:#eee;font-size:16px;display: inline-block;padding:0;margin:0;}
.admin-sub-menu a:FIRST-CHILD{border-bottom: 1px solid #fff;}

/* ............................ */
/* 섹션 영역						*/
/* ............................ */
.section{width:100%;margin-bottom:30px;}
.section .width1400{background:rgba(255,255,255,0.5);padding:20px 0;border-radius:15px;}
.section .width1400 h1{color:#44a78a; text-align: center;}
.section .width1400 .inner-section{width:90%;margin:35px auto;padding:10px;border-radius:15px;background:rgba(247,230,209,0.8);}
.section .width1400 h3{color:#6e4a37;}

/*--------------------- 
	섹션 영역에 있는 테이블 
---------------------*/
.section .table{width:100%;border-radius:10px;background:#fdf8e9; border-style: hidden;}
.table td{font-family: "돋움";}
.table td#testName{border-bottom:2px dashed #ebd0a7; color:#d74526; padding-top:20px;padding-bottom:20px;text-align: center;
					font-weight:bold;font-size:20px;font-family: "나눔스퀘어EB";}
.table td.table-left {padding-left:12px;padding-right:6px;border-right:2px dashed #ebd0a7;}
.table td#paging{padding-top:20px;padding-bottom:20px;text-align:center;border-top:2px dashed #ebd0a7;}
.table td#paging #count, #allPage{display: inline-block; font-family: serif; font-weight: bold;}
.table td#paging #count{margin-left: 10px;}
.table td#paging #allPage{margin-right: 10px;}
.table td img{max-width:500px; max-height:300px;}
.table td.subject{color:#1435b1;font-weight: bold;font-size:18px;font-family:"나눔스퀘어B";text-align: center;padding-top:30px;}
.table tr.selectedAnswer td{padding:10px 0; font-size:14px;}
.table tr.selectedAnswer td span{font-family: serif; font-weight: bold; color:#6e4a37;}

.added-table{display:none;}
.table tr.question{vertical-align: top;font-weight: bold;color:#303030;}
.table tr.question td:FIRST-CHILD{text-align: left;}
.table tr.question td{padding-top:30px;padding-bottom:10px;font-size:14px;}
.table tr.example td{padding:5px 5px;}
.table tr.example a{line-height:22px;color:#333;font-size:12px;}
.table tr.example a:HOVER{color:#cc0000;}
.table tr.example span.te_small_no{border: 1px solid #cc0000;width: 20px;height: 20px;margin-right: 10px;padding:2px 6px;}
.table-left, .table-right{width:500px;vertical-align: top;padding-bottom:30px;}
.table-right{padding-right:12px;padding-left:6px;}

/*------------------------------- 
	섹션 영역에 있는 테이블 (omr-box)
-------------------------------*/
.omr-box .table{width:100%;border-collapse: collapse;}
.omr-box .table td{width:25px;text-align:center;font-size:14px;padding:3px 5px;border:1px solid #ebd0a7;}
.omr-box .table td a{color:#333;}
.omr-box .table tr.num td{color:#303030;font-weight: bold;}
.omr-box .table tr.answer td{font-size:18px;font-family:"digital-7";height:30px;color:#0a99f1;}
.omr-box .table #time-zone, #btnSendAnswer{font-size:20px;font-weight:bold;padding:20px 0;}
.omr-box .table #time-zone{color:#ff3333; font-family: "나눔스퀘어EB";}
.omr-box .table #btnSendAnswer a{color:#d74526}

/*------------------ 
	로딩 이미지 띄우기 
------------------*/
.load-wrapp {float: left;width: 100%;text-align: center; margin:200px 0;}
.loading-message{color:#6e4a37;font-size:22px;margin-bottom:10px; font-family: "나눔스퀘어B";}
.line {display: inline-block;width: 25px;height: 25px;margin:5px 4px 0;border-radius: 15px;background-color: #1fdc8b;}
.clear{clear:both;}

.load-1 .line:nth-last-child(1) {animation: loadingA 1.5s 1s infinite;}
.load-1 .line:nth-last-child(2) {animation: loadingA 1.5s .5s infinite;}
.load-1 .line:nth-last-child(3) {animation: loadingA 1.5s 0s infinite;}

.load-2 .line:nth-last-child(1) {animation: loadingB 1.5s 1s infinite;}
.load-2 .line:nth-last-child(2) {animation: loadingB 1.5s .5s infinite;}
.load-2 .line:nth-last-child(3) {animation: loadingB 1.5s 0s infinite;}

.load-3 .line:nth-last-child(1) {animation: loadingC .6s .1s linear infinite;}
.load-3 .line:nth-last-child(2) {animation: loadingC .6s .2s linear infinite;}
.load-3 .line:nth-last-child(3) {animation: loadingC .6s .3s linear infinite;}

@keyframes loadingC {
    0 {transform: translate(0,0);}
    50% {transform: translate(0, 20px);}
    100% {transform: translate(0,0);}
}