@CHARSET "UTF-8";

@import url(font_setting.css);
	
body{color:#4d4d4d;font-size:16px;font-family:"나눔바른고딕";margin:0;padding:0; background:url("../images/bg_pencil.png") no-repeat fixed center; background-size:cover;}
a{text-decoration: none; color:#6e4a37;}
ul{padding:0; margin:0;}
li{list-style: none; padding:0; margin:0;}

.wrapper{width:100%;}
.width1400{width:1400px;margin:0 auto;}

button{cursor: pointer;}
button:disabled{cursor:default;}

/*---------
	헤더
---------*/
.header{width:100%;margin-top:30px;}

/*---------- 
	탑 메뉴
----------*/
.top-menu-box{width:100%;padding:20px 0 20px;text-align: center;}

/*------------------
	탑 메뉴 클릭 이벤트
------------------*/
.top-menu-box ul {display: block;margin:0 auto;padding: 0;}
.top-menu-box ul li {position: relative;display: inline-block; width: 200px;height: 40px;line-height: 40px;text-align: center;
  						cursor: pointer;margin:0 10px;padding: 0;perspective: 1000px;}
.top-menu-box ul li img{position: absolute; z-index: 1; right:0px;top:-8px; width:40px; display: none;}
.top-menu-box ul li a.click-event {position: relative;display: inline-block;width: 200px;background: #e7c59a; color:#6e4a37; font-size:20px; border-radius:10px;
						transition: transform 0.3s;transform-origin: 50% 0;transform-style: preserve-3d; font-family: "나눔스퀘어B";}
.top-menu-box ul li a.click-event::before {position: absolute;top: 100%;left: 0;width: 100%;height: 100%; content: attr(data-hover); border-radius:10px;
								transition: background 0.3s;transform: rotateX(-90deg);transform-origin: 50% 0;}
.top-menu-box ul li:hover a.click-event,
.top-menu-box ul li:focus a.click-event {transform: rotateX(90deg) translateY(-22px);}
.top-menu-box ul li:hover a.click-event::before,
.top-menu-box ul li:focus a.click-event::before {background: #1abe9e; color:#fff; font-family: "나눔스퀘어EB";}

#admin-menu-btn{
	background:rgba(168,52,77,1);
	color:#fff;
}
.admin-sub-menu{
	position:absolute;
	display:none;
	width:200px;
	margin-top:10px;
	margin-left:20px;
	background:#354da8;
	border-radius:4px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}
.admin-sub-menu a{color:#eee;font-size:16px;display: inline-block;padding:0;margin:0;}
.admin-sub-menu a:FIRST-CHILD{border-bottom: 1px solid #fff;}

/* ............................ */
/* 섹션 영역						*/
/* ............................ */
.section{
	width:100%;
	margin-bottom:30px;
}
.section .width1400{
	background:rgba(255,255,255,0.5);
	padding:20px 0;
	border-radius:15px;
}
.section .width1400 .inner-section{
	width:90%;
	min-height:1000px;
	margin:35px auto;
	padding:10px;
	border-radius:15px;
	background:rgba(247,230,209,0.8);
}

