@CHARSET "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-container{
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.5);
	position:fixed;
	top:0;
	display:none;
}

.login-page {
	width: 360px;
	padding: 8% 0 0;
	margin: auto;
}
.login-close{
	text-align: right;
}
.login-close img{
	width:28px;
	padding:5px;
}

.form {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0
		rgba(0, 0, 0, 0.24);
	border-radius:5px;
}

.form input, .form textarea {
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}
.form textarea{
	resize:none;
}

.form button {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #44a78a;
	width: 100%;
	border: 0;
	padding: 10px;
	color: #FFFFFF;
	font-size: 18px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
	border-radius:5px;
}
.form .negative-btn-style{background:#7b746a !important;}

.form button:hover, .form button:active, .form button:focus {
	background: #43A047;
}

.form .message {
	margin: 15px 0 0;
	color: #b3b3b3;
	font-size: 12px;
}

.form .message a {
	color: #4CAF50;
	text-decoration: none;
}

.form .register-form {
	display: none;
}

.form .form-title{
	font-size:20px;
	color:#4d4d4d;
	margin-top:0;
}