<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.dgit.mapper.SelectedAnswerMapper">
	<resultMap id="AnswerResult" type="SelectedAnswerVO" >
		<id property="sa_no" column="sa_no" />
		<result property="user.uid" column="uid" />
		<result property="tq_no" column="tq_no" />
		<result property="sa_answer" column="sa_answer" />
		<result property="sa_date" column="sa_date" />
	</resultMap>

	<select id="selectOneAnswerByTqno" resultType="SelectedAnswerVO" resultMap="AnswerResult">
		select * from selected_answer 
		where tq_no = #{tq_no} 
			and uid = #{uid}
		order by sa_date desc limit 1;
	</select>
	
	<insert id="insertSelectedAnswer">
		insert into selected_answer(uid, tq_no, sa_answer, sa_date) 
		values(#{user.uid}, #{tq_no}, #{sa_answer}, #{sa_date});
	</insert>
</mapper>